*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    background-color: black;
    /* position: relative; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    height: 200px;
    width: 200px;
    background-color: red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: white;
    /* position: absolute; */
    /* To center the Div  */
    /* top:50%;
    left: 50%;
    transform: translate(-50%,-50%); */
    animation: moving 2s linear infinite;
    
}

@keyframes moving {
    from{
        transform:rotate(0deg)  translateX(300px) rotate(0deg);
    }
    to{
        transform:rotate(360deg) translateX(300px) rotate(-360deg);
    }
}